* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
    outline: none;
}

header {
    background-image: url(./img/cabeçalho.png);
    background-size: cover;
    background-position: center;
    height: 230px;
}

.titulo {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    color: #23228d;
}

.titulo p {
    color: #666;
    padding: 5px;
}

.container {
    background-color: rgba(100, 120, 150, 0.3);
    width: 500px;
    border-radius: 10px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-size: 17px;
}

.input-task {
    border: none;
    border-radius: 5px;
    width: 350px;
    height: 50px;
    font-size: 17px;
    padding-left: 10px;
}

.button-add-task {
    border: none;
    border-radius: 5px;
    height: 50px;
    background-color: rgba(7, 7, 62, 0.738);
    color: #ffff;
    font-size: 17px;
    padding: 0 15px;
    float: right;
    cursor: pointer;
}

.button-add-task:hover {
    opacity: 0.8;
}

.button-add-task:active {
    opacity: 0.6;
}

.list-tasks {
    width: 100%;
    list-style: none;
    margin-top: 30px;
}

.task {
    background-color: #f2f2f2;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}

img {
    height: 25px;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.task:hover img {
    opacity: 1;
}

.done {
    background-color: #8fac55;
    text-decoration: line-through;
}